<HTML>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>    
<BODY bgcolor="green">
<form method="POST" action="">
    <center>
    <H1>Sentiment analysis </H1> <br>
    Sentence <input type = "text" name = "sentence" /> <br>
    <input type="hidden" name="form_type" value="predict"/>
    <input type = "submit"><br>
    <img name="sentiment-face" src="{{ url_for('static', filename=face) }}"> <br>
    <H1 title="result">{{result}}</H1> <br>
    </center>
</form>
</BODY>
</HTML>
